<!--
    以下是关于本框架的说明：
    在本框架中，只需要修改导航项，导航项的具体用法可以在下面看到；
    每个导航项为之设定一个英文名/导航路径（如用户信息的导航项导航路径为accountManagement/accountInfo，英文名为accountInfo），该英文名+Fragment即是该导航项的HTML资源和JS资源名
    HTML资源按照导航路径放在对应的templates下，js按照按照导航路径放在对应的static下
    HTML中只写要被包含的部分
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GDP-学生</title>

    <link rel="stylesheet" th:href="@{/Rendering/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" th:href="@{/Rendering/dist/css/adminlte.min.css}">
    <link rel="shortcut icon" th:href="@{/Rendering/img/Icon.ico}"/>
    <link rel="stylesheet" th:href="@{/Rendering/timeAxis/css/style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/Rendering/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
    <link rel="stylesheet" th:href="@{/Rendering/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/Rendering/plugins/jqvmap/jqvmap.min.css}">
    <link rel="stylesheet" th:href="@{/Rendering/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
    <link rel="stylesheet" th:href="@{/Rendering/plugins/daterangepicker/daterangepicker.css}">
    <link rel="stylesheet" th:href="@{/Rendering/plugins/summernote/summernote-bs4.css}">

    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <!-- DataTables -->
    <link rel="stylesheet" href="/Rendering/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Rendering/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

    <script th:src="@{/Rendering/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/Rendering/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/Rendering/timeAxis/js/vue.min.js}"></script>
    <script th:src="@{/Rendering/dist/js/adminlte.js}"></script>
    <script th:src="@{/Rendering/plugins/chart.js/Chart.min.js}"></script>
    <script th:src="@{/Rendering/dist/js/demo.js}"></script>
    <script th:src="@{/Rendering/dist/js/pages/dashboard3.js}"></script>
    <script th:src="@{/Rendering/plugins/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/Rendering/plugins/jquery-validation/additional-methods.min.js}"></script>
    <script th:src="@{/Rendering/plugins/jquery-validation/localization/messages_zh.min.js}"></script>
    <script th:src="@{/Rendering/plugins/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/Rendering/plugins/sparklines/sparkline.js}"></script>
    <script th:src="@{/Rendering/plugins/jqvmap/jquery.vmap.min.js}"></script>
    <script th:src="@{/Rendering/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>
    <script th:src="@{/Rendering/plugins/jquery-knob/jquery.knob.min.js}"></script>
    <script th:src="@{/Rendering/plugins/moment/moment.min.js}"></script>
    <script th:src="@{/Rendering/plugins/daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/Rendering/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
    <script th:src="@{/Rendering/plugins/summernote/summernote-bs4.min.js}"></script>
    <script th:src="@{/Rendering/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
    <script th:src="@{/Rendering/dist/js/pages/dashboard.js}"></script>


    <script src="https://cdn.bootcdn.net/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    <!-- DataTables -->
    <script src="/Rendering/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Rendering/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Rendering/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Rendering/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" type="button" onclick="$('#home').click()">首页</a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i
                        class="fas fa-th-large"></i></a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a class="brand-link" type="button" onclick="$('#home').click()">
            <img th:src="@{/Rendering/img/Logo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">GDP</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex" type="button" onclick="$('#accountInfo').click()">
                <div class="image" id="userImage">
                    <!--<img th:src="@{/Rendering/dist/img/user2-160x160.jpg}" class="img-circle elevation-2"
                         alt="User Image">-->
                </div>
                <div class="info">
                    <a class="d-block"><span
                            th:text="${session.USER_INFO.getName()}"></span></a>
                </div>
            </div>


            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    <!-- 每个导航项按照以下格式书写，onclick的第一个参数为导航路径，第二个参数为this，id不需要和onclick的第一个参数一样，建议直接使用第一个参数的结尾 -->
                    <li class="nav-item">
                        <a class="nav-link" id="home" type="button" onclick="loadFragment('home',this)">
                            <i class="fas fa-circle nav-icon"></i>
                            <p>首页</p>
                        </a>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-circle"></i>
                            <p>
                                账号管理
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" type="button" id="accountInfo" onclick="loadFragment('accountManagement/accountInfo',this)">
                                    <i class="fas fa-circle nav-icon"></i>
                                    <p>账号信息</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/student/logout}" class="nav-link" th:method="post">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>退出登录</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" type="button" id="selectSubject" onclick="loadFragment('listSubject/listSubject',this)">
                            <i class="fas fa-circle nav-icon"></i>
                            <p>选题</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="subjectProcess" type="button"
                           onclick="loadFragment('subjectProcess',this)">
                            <i class="fas fa-circle nav-icon"></i>
                            <p>项目进程</p>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <!--                            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
                            <li class="breadcrumb-item active"></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid" id="mainBody">
            </div>
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <strong> 2020-6. <a href="http://adminlte.io">GDP</a>.</strong>
        By -- org.t01.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 0.0.1
        </div>
    </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<!--<script th:src="@{/Rendering/plugins/jquery/jquery.min.js}"></script>-->


<script>
    function loadFragment(fragment, e) {
        fragment = fragment + "Fragment";

        $.get(fragment, function (data) {
            $("#mainBody").html(data);
        })

        document.getElementById("fragmentScript").remove();
        var script = document.createElement('script');
        script.id = 'fragmentScript';
        script.src = fragment + ".js";
        document.getElementsByTagName('head')[0].appendChild(script);

        $("#position").text($(e).children("p").text());
        sessionStorage["position"] = $(e).attr("id");
    }

    $(document).ready(function () {
        if (sessionStorage["position"] === "" || sessionStorage["position"] == null) {
            sessionStorage["position"] = "home";
        }

        var position = sessionStorage["position"];

        $("#" + position).click();
    });
</script>

<script type="text/javascript">
    $.ajax({
        url:"/student/getUserImage",
        method:"post",
        success: function (url) {
            let image = new Image();
            image.src=url;
            image.className="img-circle elevation-2";
            image.alt="User Image";
            $("#userImage").append(image);
        }
    })
</script>

<script id="fragmentScript"></script>
</body>
</html>
