<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div id="toolbar">
            <button id="button_addUser" class="btn btn-primary" data-toggle="modal" data-target="#inputUserModal">
                添加数据
            </button>
            <button id="button_loadUserFile" class="btn btn-primary">批量导入</button>
            <button id="button_batchDeleteUsers" class="btn btn-danger">批量删除</button>
        </div>
        <div class="card border-dark">
            <div id="tableTitle" class="card-header bg-transparent border-dark font-weight-bold"></div>
            <div class="card-body">
                <table class="table table-sm table-hover" id="UsersTable"
                       style="table-layout: fixed;word-break: break-all">
                </table>
            </div>
        </div>
    </div>
</div>
<div th:name="invisibleDiv">
    <input type="file" id="inputFile" accept=".xlsx" style="display: none;">
    <div class="modal fade" id="inputUserModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
         role="dialog"
         aria-labelledby="inputUserModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inputUserModalLabel">请填写</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            onclick="clearForm()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="inputUserForm" role="form" action="/administrator/addSingleUser" method="get">
                        <div id="rowOfId" class="form-group row" style="display: none;">
                            <label for="inputId" class="col-form-label col-3 mr-3">Role:</label>
                            <input type="text" class="form-control col" id="inputId" name="id">
                        </div>
                        <div id="rowOfRole" class="form-group row" style="display: none;">
                            <label for="inputRole" class="col-form-label col-3 mr-3">Role:</label>
                            <input type="text" class="form-control col" id="inputRole" name="role">
                        </div>
                        <div class="form-group row">
                            <label for="inputName" class="ol-form-label col-3 mr-3">Name</label>
                            <input type="text" class="form-control col" id="inputName" name="name">
                        </div>
                        <div class="form-group row">
                            <label for="inputPhoneNumber" class="ol-form-label col-3 mr-3">PhoneNumber</label>
                            <input type="text" class="form-control col" id="inputPhoneNumber" name="phoneNumber">
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="ol-form-label col-3 mr-3">Email</label>
                            <input type="text" class="form-control col" id="inputEmail" name="email">
                        </div>
                        <div class="form-group row">
                            <label id="inputOtherInfoLabel" for="inputOtherInfo"
                                   class="ol-form-label col-3 mr-3">OtherInfo</label>
                            <input type="text" class="form-control col" id="inputOtherInfo" name="otherInfo">
                        </div>
                    </form>
                </div>
                <div class="modal-footer form-group">
                    <button id="submitInputUserForm" type="button" class="btn btn-primary">提交</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearForm()">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loadUserModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
         role="dialog"
         aria-labelledby="loadUserModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loadUserModalLabel">要导入的数据</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="loadUserTable" class="table"></table>
                </div>
                <div class="modal-footer form-group">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            onclick="sendTableData()">确认
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function getRole() {
        if (sessionStorage['position'] === 'teacherAccountManagement') {
            return 'TEA';
        } else if (sessionStorage['position'] === 'studentAccountManagement') {
            return 'STU';
        }
    }

    role = getRole();
    $UsersTable = $('#UsersTable');
    $inputUserModal = $('#inputUserModal');

    formActions = {
        addUser: {
            action: '/administrator/addSingleUser',
            message: '添加账号',
        },
        updateUser: {
            action: '/administrator/updateUser',
            message: '修改账号',
        }
    }

    otherInfoNames = {
        'TEA': '学院Id',
        'STU': '专业Id'
    }

    roleNames = {
        'TEA': '教师',
        'STU': '学生'
    }

    $loadUserTable = $('#loadUserTable');
    $loadUserModal = $('#loadUserModal');

    $inputUserForm = $('#inputUserForm');

    $inputOtherInfoLabel = $('#inputOtherInfoLabel');

    $(function () {
        $(":text").each(function () {
            if ($(this).attr('id') === 'inputRole') {
                $(this).val(role);
            }
        });

        if (role === 'TEA') {
            $inputOtherInfoLabel.html('CollegeId');
        } else if (role === 'STU') {
            $inputOtherInfoLabel.html('MajorId');
        }

        $('#tableTitle').html(roleNames[role] + '管理');
    })

    $UsersTable.bootstrapTable('destroy');
    $UsersTable.bootstrapTable({
        url: '/administrator/getUsersByRole',        //请求的url
        method: 'post',                              //请求方式
        queryParams: {role: role},                          //传递参数
        contentType: "application/x-www-form-urlencoded; charset=UTF-8", //参数类型
        toolbar: '#toolbar',                         //工具按钮用哪个容器
        striped: true,                               //是否显示行间隔色
        cache: false,                                //是否使用缓存，默认为true
        pagination: true,                            //是否显示分页
        sortable: true,                              //是否启用排序
        sortOrder: "desc",                           //排序方式
        sidePagination: "client",                    //分页方式：client客户端分页，server服务端分页
        pageNumber: 1,                               //初始化加载第一页，默认第一页
        pageSize: 10,                                //每页的记录行数
        pageList: [10, 20, 40, 60],                  //可供选择的每页的行数
        search: true,                               //是否显示表格搜索，此搜索是客户端搜索，不会进服务端
        showColumns: true,                           //是否显示所有的列
        showRefresh: false,                          //是否显示刷新按钮
        minimumCountColumns: 2,                      //最少允许的列数
        clickToSelect: true,                         //是否启用点击选中行
        //height: 600,                                 //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
        uniqueId: "自定义",                           //每一行的唯一标识，一般为主键列
        showToggle: false,                           //是否显示详细视图和列表视图的切换按钮
        cardView: false,                             //是否显示详细视图
        detailView: false,                           //是否显示父子表

        onLoadSuccess: function (data) {  //加载成功时执行
            //console.info("用户数据加载成功");
            //console.log(data);
            //$("#tb_ajxx").bootstrapTable('hideLoading');
        },
        onLoadError: function (status, result) {  //加载失败时执行
            console.info("用户数据加载失败");
            console.log(result);
        },
        onDblClickRow: function (row) {
            //双击行事件
        },
        columns: [
            {
                checkbox: true,
            },
            {
                field: 'id',
                title: roleNames[role] + 'Id',
                align: 'center',
            },
            /*{
                field: 'password',
                title: roleNames[role] + '密码',
                align: 'center',
            },*/
            //{field: 'role', title: '用户类型'},
            {
                field: 'name',
                title: roleNames[role] + '姓名',
                align: 'center',
            },
            {
                field: 'phoneNumber',
                title: roleNames[role] + '电话号码',
                align: 'center',
            },
            {
                field: 'email',
                title: roleNames[role] + '邮箱',
                align: 'center',
            },
            {
                field: 'otherInfo',
                title: roleNames[role] + otherInfoNames[role],
                align: "center",
            },
            {
                field: 'operate',
                title: '操作',
                align: 'center',
                formatter: function (value, row, index) {
                    return ['<button type="button" class="btn btn-primary btn-sm RoleOfEdit" style="margin-right: 10px">修改</button>',
                        '<button type="button" class="btn btn-danger btn-sm RoleOfDelete" style="margin-right: 10px">删除</button>'
                    ].join('');
                },
                events: {
                    'click .RoleOfEdit': function (e, value, row, index) {
                        $('#inputId').val(row['id']);
                        $('#inputName').val(row['name']);
                        $('#inputPhoneNumber').val(row['phoneNumber']);
                        $('#inputEmail').val(row['email']);
                        $('#inputOtherInfo').val(row['otherInfo']);
                        $inputUserForm.attr('action', formActions['updateUser']['action']);
                        $inputUserModal.modal('show');
                    },
                    'click .RoleOfDelete': function (e, value, row, index) {
                        bootbox.confirm({
                            size: "small",
                            title: '提示',
                            message: '确认删除该账号？',
                            buttons: {
                                confirm: {
                                    label: "确认",
                                    className: "btn-danger"
                                },
                                cancel: {
                                    label: "取消",
                                    className: 'btn-default'
                                }
                            },
                            callback: function (result) {
                                if (result) {
                                    let id = row.id;
                                    $.ajax({
                                        url: "/administrator/deleteUserById",
                                        type: "delete",
                                        async: "false",
                                        data: {id: id, role: role},
                                        dataType: "json",
                                        success: function (result) {
                                            $UsersTable.bootstrapTable('refresh');
                                            if (result) {
                                                bootbox.alert({
                                                    title: "提示",
                                                    message: "删除成功",
                                                    size: 'small',
                                                });
                                            } else {
                                                bootbox.alert({
                                                    title: "提示",
                                                    message: '删除失败',
                                                    size: 'small',
                                                });
                                            }
                                        },
                                        error: function (e) {
                                            bootbox.alert({
                                                title: "提示",
                                                message: '删除失败',
                                                size: 'small',
                                            });
                                            console.log(e.status);
                                            console.log(e.responseText);
                                        }
                                    })
                                }
                            }
                        })
                    },
                },
            }
        ]
    });

    function clearForm() {
        $(":text").each(function () {
            if ($(this).attr('id') !== 'inputRole') {
                $(this).val('');
            }
        });
    }

    function validateForm(form) {
        return form.validate({
            rules: {
                name: {
                    required: true
                },
                phoneNumber: {
                    required: true
                },
                email: {
                    required: true
                },
                otherInfo: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "姓名不能为空"
                },
                phoneNumber: {
                    required: "电话号码不能为空"
                },
                email: {
                    required: "邮箱不能为空"
                },
                otherInfo: {
                    required: otherInfoNames[role] + '不能为空',
                }
            },
            errorElement: 'span',
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error has-feedback');
            },
        });
    }

    $('#button_addUser').on('click', function () {
        $inputId.attr('readonly', false);
        $inputUserForm.attr('action', formActions['addUser']['action']);
    });

    $('#button_batchDeleteUsers').on('click', function () {
        let rows = $UsersTable.bootstrapTable('getSelections');
        let ids = $.map(rows, function (row) {
            return row['id'];
        });

        if (ids.length > 0) {
            bootbox.confirm({
                size: "small",
                title: '提示',
                message: '确认删除？',
                buttons: {
                    confirm: {
                        label: "确认",
                        className: "btn-danger"
                    },
                    cancel: {
                        label: "取消",
                        className: 'btn-default'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "/administrator/deleteUsersById",
                            type: "delete",
                            async: "false",
                            data: JSON.stringify(ids),
                            contentType: "application/json",
                            dataType: "json",
                            success: function (result) {
                                $UsersTable.bootstrapTable('refresh');
                                if (result) {
                                    bootbox.alert({
                                        title: "提示",
                                        message: "删除成功",
                                        size: 'small',
                                    });
                                } else {
                                    bootbox.alert({
                                        title: "提示",
                                        message: '删除失败',
                                        size: 'small',
                                    });
                                }
                            },
                            error: function (e) {
                                bootbox.alert({
                                    title: "提示",
                                    message: '删除失败',
                                    size: 'small',
                                });
                                console.log(e.status);
                                console.log(e.responseText);
                            }
                        })
                    }
                }
            });
        }
    });

    $('#submitInputUserForm').on('click', function () {
        let getMessage = function (form) {
            if (form.attr('action') === formActions['addUser']['action']) {
                return formActions['addUser']['message'];
            }

            if (form.attr('action') === formActions['updateUser']['action']) {
                return formActions['updateUser']['message'];
            }
        }
        $inputUserForm.ajaxSubmit({
            beforeSubmit: function (data, form, option) {
                if (!validateForm(form).form()) {
                    return false;
                }
            },
            success: function (responseText, statusText, xhr, form) {
                if (responseText === 'success') {
                    bootbox.alert({
                        title: "成功",
                        message: getMessage($inputUserForm) + "成功",
                        size: 'small'
                    });
                    $UsersTable.bootstrapTable('refresh');
                    clearForm();
                    $inputUserModal.modal('hide');
                } else {
                    bootbox.alert({
                        title: "失败",
                        message: getMessage($inputUserForm) + '失败<br>' + responseText,
                        size: 'small'
                    });
                }
            },
            error: function (xhr, status, error) {
                bootbox.alert({
                    title: "错误",
                    message: '后台未返回数据',
                    size: 'small'
                });
                console.log(error)
            }
        })
    });

    $('#button_loadUserFile').on("click", function () {
        $("#inputFile").click();
    });

    $("#inputFile").change(function () {
        const file = this.files[0];
        let workbook;
        let reader = new FileReader();
        reader.readAsBinaryString(file);
        reader.onload = function (e) {
            let data = e.target.result;
            workbook = XLSX.read(data, {type: "binary"});
            let json = XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]]);
            for (let i = 0; i < json.length; i++) {
                json[i]['用户类型'] = role;
            }
            loadTable(json)
        };
        $(this).val("");
    })

    function loadTable(data) {
        $loadUserTable.bootstrapTable('destroy');
        $loadUserTable.bootstrapTable({
            //url: "/loadUserFile",
            //method: "post",
            data: data,
            pageSize: 10,
            pagination: false,
            columns: [
                //{field: 'role', title: '用户类型'},
                {
                    field: '姓名',
                    title: roleNames[role] + '姓名',
                    align: 'center',
                },
                {
                    field: '手机号码',
                    title: roleNames[role] + '电话号码',
                    align: 'center',
                },
                {
                    field: 'Email',
                    title: roleNames[role] + '邮箱',
                    align: 'center',
                },
                {
                    field: otherInfoNames[role],
                    title: roleNames[role] + otherInfoNames[role],
                    align: "center",
                }
            ]
        });
        if ($loadUserTable.bootstrapTable("getOptions").totalRows === 0) {
            alert("错误，未读入任何数据！");
        } else {
            $loadUserModal.modal('show');
        }
    }

    $loadUserModal.on("shown.bs.modal", function () {
        $loadUserTable.bootstrapTable('resetView');
    });
    $loadUserModal.on("hidden.bs.modal", function () {
        //loadUserModal.removeData('bs.modal');
    });


    function sendTableData() {
        let data = $loadUserTable.bootstrapTable("getData");
        //console.log(data);
        $.ajax({
            url: "/administrator/batchImportUsers",
            type: "post",
            async: "false",
            data: JSON.stringify({data: data}),
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                bootbox.alert({
                    title: "成功",
                    message: '导入数据成功',
                    size: 'small'
                });
                $UsersTable.bootstrapTable('refresh');
                if (result.length > 0) {
                    let message = '';
                    for (let i = 0; i < result.length; i++) {
                        message += result[i] + '\n';
                    }
                    alert("以下的条目未保存\n" + message);
                    console.log(result);
                    console.log(result.length);
                }
            },
            error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
            }
        })
    }
</script>
</body>
</html>
