<div>
    <h2>
        评审列表
    </h2>
    <div>
        <table id="MR" class="table table-bordered table-hover">

        </table>
    </div>
</div>

<script>
    $(function () {
        window.operateEvents  = {
            'click .btn_review': function (e, value, row, index) {
                var index = layer.open({
                    type: 1,
                    skin: "layui-layer-rim",
                    area: ["250px", "150px"],
                    title: "开题评分(百分制）",
                    content: '<input type="text" id="score" width="250px">',
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        $.ajax({
                            url: "/teacher/middleReview/middleScoring",
                            method: "POST",
                            data: {"score":$('#score').val(), "studentId":row.studentId, "subjectId":row.subjectId},
                            success: function () {
                                layer.msg("评分成功",{time:1000});
                                layer.close(index);
                            },
                            fail: function () {
                                layer.close(index);
                                layer.msg("评分失败请稍后重试",{time:1000});
                            },
                        });
                    },
                    btn2: function (index, layero) {
                        layer.close(index);
                    },
                });
            }
        };

        $('#MR').bootstrapTable('destroy').bootstrapTable({
            method: 'get',
            url: "/teacher/openingReview/getList",
            striped: true,
            dataField: "list",
            totalField: "total",
            pageNumber: 1,
            pageSize: 10,
            pagination: true,
            queryParamsType: 'limit',
            // search: true,
            queryParams: function (params) {
                return {
                    pageSize: params.limit,
                    pageNo: params.offset / params.limit + 1
                }
            },
            sidePagination: 'server',
            pageList: "[10, 25, 50, 100, all]",
            showRefresh: true,
            clickToSelect: true,
            toolbarAlign: 'left',
            buttonsAlign: 'right',
            toolbar: '#toolbar',
            showColumns: false,
            paginationLoop: false,
            columns: [
                {
                    title: 'SubjectId',
                    field: 'subjectId',
                    visible: true,
                    width: 160
                },
                /*{
                    //  title: '全选/反选',
                    checkbox: true
                }
                ,*/
                {
                    title: '学生学号',
                    field: 'studentId',
                    visible: true,
                    width: 160
                },
                {
                    title: '题目标题',
                    field: 'subjectName',
                    width: 160,
                    align: 'left'
                },
                {
                    title: '所属专业编号',
                    field: 'subjectName',
                    width: 160,
                    align: 'left'
                },
                {
                    title: '题目方向',
                    field: 'direction',
                    width: 160,
                    align: 'left'
                },
                {
                    title: '操作',
                    width: 80,
                    align: 'center',
                    formatter:function (value, row, index) {
                        return [
                            '<button  type="button" class="btn btn-danger btn-xs btn_down">',
                            '下载报告' ,
                            '</button>',
                            ' <button  type="button" class="btn btn-primary btn-xs btn_review">',
                            '评分评阅' ,
                            '</button>',
                        ].join('')
                    },
                    events:window.operateEvents
                }
            ],
            locale: 'zh-CN',
            responseHandler: function (data) {
                return data['data'];
            }
        });
    })
</script>