
<div class="card">
    <div class="card-header">
        <h3 class="card-title">开题评审待评列表</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="table" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>学生学号</th>
                <th>项目编号</th>
                <th>项目名称</th>
                <th>专业编号</th>
                <th>项目方向</th>
                <th>项目资料</th>
                <th>学生论文</th>
                <th>评审</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>学生学号</th>
                <th>项目编号</th>
                <th>项目名称</th>
                <th>专业编号</th>
                <th>项目方向</th>
                <th>项目资料</th>
                <th>学生论文</th>
                <th>评审</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">开题评审评分</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>学号：<span id="studentId"></span></p>
                <p>编号：<span id="subjectId"></span></p>
                <p>分数：<input type="number" max="100" min="0" id="score"></p>
                <p>评价：<textarea maxlength="500" cols="45" rows="10" id="evaluation" placeholder="请输入主观评价"/></p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="submit" onclick="onSubmit()">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $(function () {
        $("#table").DataTable({
            "retrieve": true,
            "responsive": true,
            "autoWidth": false,
            "processing": true,
            "serverSide": true,
            "ajax": "/teacher/paperReview/getList",
            "columns":[
                {"data":"studentId"},
                {"data":"subjectId"},
                {"data":"subjectName"},
                {"data":"majorName"},
                {"data":"direction"}
            ],
            "columnDefs":[
                {
                    "targets": [5],
                    "data": "subjectDocument",
                    "render": function(data, type, full) {
                        if(data != null || data != ""){
                            return "<a type='button' class='btn btn-danger' href='/download/" + data + "'>下载</a>";
                        }else{
                            return "<span>暂无可下载资料</span>"
                        }
                    }
                },
                {
                    "targets": [6],
                    "data": "reviewDocument",
                    "render": function(data, type, full) {
                        return "<a type='button' class='btn btn-danger' href='/download/" + data + "'>下载</a>";
                    }
                },
                {
                    "targets": [7],
                    "data": "studentId",
                    "render": function(data, type, full) {
                        return "<button type='button' class='btn btn-primary' data-toggle=\"modal\" data-target=\"#modal-default\" onclick='onReview(" + full.studentId + ',' + full.subjectId + ")' >评分</button>";
                    }
                }
            ]
        });
    });
</script>

<script>
    function onReview(studentId,subjectId) {
        $("#studentId").text(studentId);
        $("#subjectId").text(subjectId);
        $("#score").val(0);
        $("#evaluation").val("");
    }
</script>

<script>
    function onSubmit() {
        var studentId = $("#studentId").text();
        var subjectId = $("#subjectId").text();
        var score = $("#score").val();
        var evaluation = $("#evaluation").val();

        if(score > 100 || score < 0 || score == ""){
            alert("请输入0~100之间的整数");
            return;
        }

        var option = {
            url: "/teacher/paperReview/score",
            method: "post",
            timeout: 6000,
            async: false,
            data: {
                "studentId": studentId,
                "subjectId": subjectId,
                "score": score,
                "evaluation": evaluation
            },
            success: function () {
                alert("保存成功");

                $("#submit").attr("data-dismiss","modal");
                $("#submit").attr("onclick","");
                $("#submit").click();
                $("#submit").attr("data-dismiss","");
                $("#submit").attr("onclick","onSubmit()");

                $("#table").dataTable().fnDraw(false);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        };

        $.ajax(option);
    }
</script>