<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.t01.gdp.mapper.SqlMapper">
    <select id="getUserByRole" parameterType="String" resultType="java.util.HashMap">
        select u.id,
               u.password,
               u.role,
               u.name,
               u.email,
               u.phone_number                                                          as phoneNumber,
               u.create_time                                                           as createTime,
               case u.role when 'TEA' then t.college_id when 'STU' then s.major_id end as otherInfo
        from user u
                 left join teacher t on t.id = u.id
                 left join student s on s.id = u.id
        where u.role = #{role}
    </select>
    <select id="selectSubjectByPrimaryKey" parameterType="java.lang.Long" resultType="org.t01.gdp.domain.SubjectInfo">
        select  s.id as id,
                s.name as `name`,
                s.direction as direction,
                s.difficulty as difficulty,
                s.technology as technology,
                s.describe as `describe`,
                u.name as createTeacher,
                m.name as major
        from subject s
                left join `user` u on u.id=s.create_teacher_id
                left join major m on m.id=s.major_id
        where s.id = #{id}
    </select>
    <select id="selectBycondition" resultType="org.t01.gdp.domain.SubjectInfo">
        select  s.id as id,
                s.name as `name`,
                s.direction as direction,
                s.difficulty as difficulty,
                s.technology as technology,
                s.describe as `describe`,
                u.name as createTeacher,
                m.name as major
        from subject s
                left join `user` u on u.id=s.create_teacher_id
                left join major m on m.id=s.major_id
        <where>
            <if test="subject_id!=null">
                s.id = #{subject_id}
            </if>
            <if test="subject_name!=''">
                and s.name like CONCAT('%',#{subject_name},'%')
            </if>
            <if test="subject_direction!=''">
                and s.direction=#{subject_direction}
            </if>
            <if test="difficult_min!=null">
                and s.difficulty &gt;= #{difficult_min}
            </if>
            <if test="difficult_max!=null">
                and s.difficulty &lt;= #{difficult_max}
            </if>
            <if test="subject_major!=''">
                and m.name=#{subject_major}
            </if>
            <if test="subject_teacher!=''">
                and s.name=#{subject_teacher}
            </if>
        </where>
    </select>
</mapper>