<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.t01.gdp.mapper.SqlMapper">
    <resultMap id="BaseResultMap" type="org.t01.gdp.domain.Subject">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="create_teacher_id" jdbcType="BIGINT" property="createTeacherId" />
        <result column="cross_review_teacher" jdbcType="BIGINT" property="crossReviewTeacher" />
        <result column="major_id" jdbcType="BIGINT" property="majorId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="direction" jdbcType="VARCHAR" property="direction" />
        <result column="difficulty" jdbcType="INTEGER" property="difficulty" />
        <result column="technology" jdbcType="VARCHAR" property="technology" />
        <result column="describe" jdbcType="VARCHAR" property="describe" />
        <result column="document" jdbcType="VARCHAR" property="document" />
        <result column="review_teacher_id1" jdbcType="BIGINT" property="reviewTeacherId1" />
        <result column="review_teacher_id2" jdbcType="BIGINT" property="reviewTeacherId2" />
        <result column="review_teacher_id3" jdbcType="BIGINT" property="reviewTeacherId3" />
        <result column="state" jdbcType="VARCHAR" property="state" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>
    <select id="getUserByRole" parameterType="String" resultType="java.util.HashMap">
        select u.id,
               u.password,
               u.role,
               u.name,
               u.email,
               u.phone_number                                                          as phoneNumber,
               u.create_time                                                           as createTime,
               case u.role when 'TEA' then t.college_id when 'STU' then s.major_id end as otherInfo
        from user u
                 left join teacher t on t.id = u.id
                 left join student s on s.id = u.id
        where u.role = #{role}
    </select>
    <select id="selectSubjectByPrimaryKey" parameterType="java.lang.Long" resultType="org.t01.gdp.domain.SubjectInfo">
        select  s.id as id,
                s.name as `name`,
                s.direction as direction,
                s.difficulty as difficulty,
                s.technology as technology,
                s.describe as `describe`,
                t.name as createTeacher,
                m.name as major,
                s.document as document
        from subject s
                left join teacher t on t.id=s.create_teacher_id
                left join major m on m.id=s.major_id
        where s.id = #{id}
    </select>
    <select id="selectBycondition" resultType="org.t01.gdp.domain.SubjectInfo">
        select  s.id as id,
                s.name as `name`,
                s.direction as direction,
                s.difficulty as difficulty,
                s.technology as technology,
                s.describe as `describe`,
                t.name as createTeacher,
                m.name as major
        from subject s
                left join teacher t on t.id=s.create_teacher_id
                left join major m on m.id=s.major_id
        <where>
            <if test="subject_id!=null">
                s.id = #{subject_id}
            </if>
            <if test="subject_name!=''">
                and s.name like CONCAT('%',#{subject_name},'%')
            </if>
            <if test="subject_direction!=''">
                and s.direction like CONCAT ('%',#{subject_direction},'%')
            </if>
            <if test="difficult_min!=null">
                and s.difficulty &gt;= #{difficult_min}
            </if>
            <if test="difficult_max!=null">
                and s.difficulty &lt;= #{difficult_max}
            </if>
            <if test="subject_major!=''">
                and m.name like CONCAT ('%',#{subject_major},'%')
            </if>
            <if test="subject_teacher!=''">
                and t.name like CONCAT ('%',#{subject_teacher},'%')
            </if>
            <if test="subject_state!=''">
                and s.state=#{subject_state}
            </if>
        </where>
        <if test="sort!=null and sort!='' and type!=null and type!=''">
            ORDER BY ${sort} ${type}
        </if>
    </select>
    <select id="selectone" resultType="String">
        select state
        from student
        LIMIT 1
    </select>
    <select id="selectfiveById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from subject
        where major_id=#{majorId}
        ORDER BY id DESC
        LIMIT 5
    </select>
</mapper>