<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.t01.gdp.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="org.t01.gdp.domain.Student">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="head_portrait" jdbcType="VARCHAR" property="headPortrait" />
    <result column="major_id" jdbcType="BIGINT" property="majorId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="subject_id" jdbcType="BIGINT" property="subjectId" />
    <result column="open_document" jdbcType="VARCHAR" property="openDocument" />
    <result column="middle_document" jdbcType="VARCHAR" property="middleDocument" />
    <result column="conclusion_document" jdbcType="VARCHAR" property="conclusionDocument" />
    <result column="paper_document" jdbcType="VARCHAR" property="paperDocument" />
    <result column="open_score1" jdbcType="INTEGER" property="openScore1" />
    <result column="open_score2" jdbcType="INTEGER" property="openScore2" />
    <result column="open_score3" jdbcType="INTEGER" property="openScore3" />
    <result column="middle_score1" jdbcType="INTEGER" property="middleScore1" />
    <result column="middle_score2" jdbcType="INTEGER" property="middleScore2" />
    <result column="middle_score3" jdbcType="INTEGER" property="middleScore3" />
    <result column="conclusion_score1" jdbcType="INTEGER" property="conclusionScore1" />
    <result column="conclusion_score2" jdbcType="INTEGER" property="conclusionScore2" />
    <result column="conclusion_score3" jdbcType="INTEGER" property="conclusionScore3" />
    <result column="teacher_paper_score" jdbcType="INTEGER" property="teacherPaperScore" />
    <result column="student_paper_score" jdbcType="INTEGER" property="studentPaperScore" />
    <result column="final_score" jdbcType="DECIMAL" property="finalScore" />
    <result column="open_evaluation1" jdbcType="VARCHAR" property="openEvaluation1" />
    <result column="open_evaluation2" jdbcType="VARCHAR" property="openEvaluation2" />
    <result column="open_evaluation3" jdbcType="VARCHAR" property="openEvaluation3" />
    <result column="middle_evaluation1" jdbcType="VARCHAR" property="middleEvaluation1" />
    <result column="middle_evaluation2" jdbcType="VARCHAR" property="middleEvaluation2" />
    <result column="middle_evaluation3" jdbcType="VARCHAR" property="middleEvaluation3" />
    <result column="teacher_paper_evaluation" jdbcType="VARCHAR" property="teacherPaperEvaluation" />
    <result column="cross_paper_evaluation" jdbcType="VARCHAR" property="crossPaperEvaluation" />
    <result column="conclusion_evaluation1" jdbcType="VARCHAR" property="conclusionEvaluation1" />
    <result column="conclusion_evaluation2" jdbcType="VARCHAR" property="conclusionEvaluation2" />
    <result column="conclusion_evaluation3" jdbcType="VARCHAR" property="conclusionEvaluation3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, student_id, password, name, phone_number, email, create_time, head_portrait, 
    major_id, state, subject_id, open_document, middle_document, conclusion_document, 
    paper_document, open_score1, open_score2, open_score3, middle_score1, middle_score2, 
    middle_score3, conclusion_score1, conclusion_score2, conclusion_score3, teacher_paper_score, 
    student_paper_score, final_score, open_evaluation1, open_evaluation2, open_evaluation3, 
    middle_evaluation1, middle_evaluation2, middle_evaluation3, teacher_paper_evaluation, 
    cross_paper_evaluation, conclusion_evaluation1, conclusion_evaluation2, conclusion_evaluation3
  </sql>
  <select id="selectByExample" parameterType="org.t01.gdp.domain.StudentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from student
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.t01.gdp.domain.StudentExample">
    delete from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.t01.gdp.domain.Student">
    insert into student (id, student_id, password, 
      name, phone_number, email, 
      create_time, head_portrait, major_id, 
      state, subject_id, open_document, 
      middle_document, conclusion_document, paper_document, 
      open_score1, open_score2, open_score3, 
      middle_score1, middle_score2, middle_score3, 
      conclusion_score1, conclusion_score2, conclusion_score3, 
      teacher_paper_score, student_paper_score, final_score, 
      open_evaluation1, open_evaluation2, open_evaluation3, 
      middle_evaluation1, middle_evaluation2, middle_evaluation3, 
      teacher_paper_evaluation, cross_paper_evaluation, 
      conclusion_evaluation1, conclusion_evaluation2, 
      conclusion_evaluation3)
    values (#{id,jdbcType=BIGINT}, #{studentId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{headPortrait,jdbcType=VARCHAR}, #{majorId,jdbcType=BIGINT}, 
      #{state,jdbcType=VARCHAR}, #{subjectId,jdbcType=BIGINT}, #{openDocument,jdbcType=VARCHAR}, 
      #{middleDocument,jdbcType=VARCHAR}, #{conclusionDocument,jdbcType=VARCHAR}, #{paperDocument,jdbcType=VARCHAR}, 
      #{openScore1,jdbcType=INTEGER}, #{openScore2,jdbcType=INTEGER}, #{openScore3,jdbcType=INTEGER}, 
      #{middleScore1,jdbcType=INTEGER}, #{middleScore2,jdbcType=INTEGER}, #{middleScore3,jdbcType=INTEGER}, 
      #{conclusionScore1,jdbcType=INTEGER}, #{conclusionScore2,jdbcType=INTEGER}, #{conclusionScore3,jdbcType=INTEGER}, 
      #{teacherPaperScore,jdbcType=INTEGER}, #{studentPaperScore,jdbcType=INTEGER}, #{finalScore,jdbcType=DECIMAL}, 
      #{openEvaluation1,jdbcType=VARCHAR}, #{openEvaluation2,jdbcType=VARCHAR}, #{openEvaluation3,jdbcType=VARCHAR}, 
      #{middleEvaluation1,jdbcType=VARCHAR}, #{middleEvaluation2,jdbcType=VARCHAR}, #{middleEvaluation3,jdbcType=VARCHAR}, 
      #{teacherPaperEvaluation,jdbcType=VARCHAR}, #{crossPaperEvaluation,jdbcType=VARCHAR}, 
      #{conclusionEvaluation1,jdbcType=VARCHAR}, #{conclusionEvaluation2,jdbcType=VARCHAR}, 
      #{conclusionEvaluation3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.t01.gdp.domain.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="headPortrait != null">
        head_portrait,
      </if>
      <if test="majorId != null">
        major_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="openDocument != null">
        open_document,
      </if>
      <if test="middleDocument != null">
        middle_document,
      </if>
      <if test="conclusionDocument != null">
        conclusion_document,
      </if>
      <if test="paperDocument != null">
        paper_document,
      </if>
      <if test="openScore1 != null">
        open_score1,
      </if>
      <if test="openScore2 != null">
        open_score2,
      </if>
      <if test="openScore3 != null">
        open_score3,
      </if>
      <if test="middleScore1 != null">
        middle_score1,
      </if>
      <if test="middleScore2 != null">
        middle_score2,
      </if>
      <if test="middleScore3 != null">
        middle_score3,
      </if>
      <if test="conclusionScore1 != null">
        conclusion_score1,
      </if>
      <if test="conclusionScore2 != null">
        conclusion_score2,
      </if>
      <if test="conclusionScore3 != null">
        conclusion_score3,
      </if>
      <if test="teacherPaperScore != null">
        teacher_paper_score,
      </if>
      <if test="studentPaperScore != null">
        student_paper_score,
      </if>
      <if test="finalScore != null">
        final_score,
      </if>
      <if test="openEvaluation1 != null">
        open_evaluation1,
      </if>
      <if test="openEvaluation2 != null">
        open_evaluation2,
      </if>
      <if test="openEvaluation3 != null">
        open_evaluation3,
      </if>
      <if test="middleEvaluation1 != null">
        middle_evaluation1,
      </if>
      <if test="middleEvaluation2 != null">
        middle_evaluation2,
      </if>
      <if test="middleEvaluation3 != null">
        middle_evaluation3,
      </if>
      <if test="teacherPaperEvaluation != null">
        teacher_paper_evaluation,
      </if>
      <if test="crossPaperEvaluation != null">
        cross_paper_evaluation,
      </if>
      <if test="conclusionEvaluation1 != null">
        conclusion_evaluation1,
      </if>
      <if test="conclusionEvaluation2 != null">
        conclusion_evaluation2,
      </if>
      <if test="conclusionEvaluation3 != null">
        conclusion_evaluation3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="headPortrait != null">
        #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null">
        #{majorId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="openDocument != null">
        #{openDocument,jdbcType=VARCHAR},
      </if>
      <if test="middleDocument != null">
        #{middleDocument,jdbcType=VARCHAR},
      </if>
      <if test="conclusionDocument != null">
        #{conclusionDocument,jdbcType=VARCHAR},
      </if>
      <if test="paperDocument != null">
        #{paperDocument,jdbcType=VARCHAR},
      </if>
      <if test="openScore1 != null">
        #{openScore1,jdbcType=INTEGER},
      </if>
      <if test="openScore2 != null">
        #{openScore2,jdbcType=INTEGER},
      </if>
      <if test="openScore3 != null">
        #{openScore3,jdbcType=INTEGER},
      </if>
      <if test="middleScore1 != null">
        #{middleScore1,jdbcType=INTEGER},
      </if>
      <if test="middleScore2 != null">
        #{middleScore2,jdbcType=INTEGER},
      </if>
      <if test="middleScore3 != null">
        #{middleScore3,jdbcType=INTEGER},
      </if>
      <if test="conclusionScore1 != null">
        #{conclusionScore1,jdbcType=INTEGER},
      </if>
      <if test="conclusionScore2 != null">
        #{conclusionScore2,jdbcType=INTEGER},
      </if>
      <if test="conclusionScore3 != null">
        #{conclusionScore3,jdbcType=INTEGER},
      </if>
      <if test="teacherPaperScore != null">
        #{teacherPaperScore,jdbcType=INTEGER},
      </if>
      <if test="studentPaperScore != null">
        #{studentPaperScore,jdbcType=INTEGER},
      </if>
      <if test="finalScore != null">
        #{finalScore,jdbcType=DECIMAL},
      </if>
      <if test="openEvaluation1 != null">
        #{openEvaluation1,jdbcType=VARCHAR},
      </if>
      <if test="openEvaluation2 != null">
        #{openEvaluation2,jdbcType=VARCHAR},
      </if>
      <if test="openEvaluation3 != null">
        #{openEvaluation3,jdbcType=VARCHAR},
      </if>
      <if test="middleEvaluation1 != null">
        #{middleEvaluation1,jdbcType=VARCHAR},
      </if>
      <if test="middleEvaluation2 != null">
        #{middleEvaluation2,jdbcType=VARCHAR},
      </if>
      <if test="middleEvaluation3 != null">
        #{middleEvaluation3,jdbcType=VARCHAR},
      </if>
      <if test="teacherPaperEvaluation != null">
        #{teacherPaperEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="crossPaperEvaluation != null">
        #{crossPaperEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="conclusionEvaluation1 != null">
        #{conclusionEvaluation1,jdbcType=VARCHAR},
      </if>
      <if test="conclusionEvaluation2 != null">
        #{conclusionEvaluation2,jdbcType=VARCHAR},
      </if>
      <if test="conclusionEvaluation3 != null">
        #{conclusionEvaluation3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.t01.gdp.domain.StudentExample" resultType="java.lang.Long">
    select count(*) from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update student
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.studentId != null">
        student_id = #{record.studentId,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNumber != null">
        phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.headPortrait != null">
        head_portrait = #{record.headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="record.majorId != null">
        major_id = #{record.majorId,jdbcType=BIGINT},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectId != null">
        subject_id = #{record.subjectId,jdbcType=BIGINT},
      </if>
      <if test="record.openDocument != null">
        open_document = #{record.openDocument,jdbcType=VARCHAR},
      </if>
      <if test="record.middleDocument != null">
        middle_document = #{record.middleDocument,jdbcType=VARCHAR},
      </if>
      <if test="record.conclusionDocument != null">
        conclusion_document = #{record.conclusionDocument,jdbcType=VARCHAR},
      </if>
      <if test="record.paperDocument != null">
        paper_document = #{record.paperDocument,jdbcType=VARCHAR},
      </if>
      <if test="record.openScore1 != null">
        open_score1 = #{record.openScore1,jdbcType=INTEGER},
      </if>
      <if test="record.openScore2 != null">
        open_score2 = #{record.openScore2,jdbcType=INTEGER},
      </if>
      <if test="record.openScore3 != null">
        open_score3 = #{record.openScore3,jdbcType=INTEGER},
      </if>
      <if test="record.middleScore1 != null">
        middle_score1 = #{record.middleScore1,jdbcType=INTEGER},
      </if>
      <if test="record.middleScore2 != null">
        middle_score2 = #{record.middleScore2,jdbcType=INTEGER},
      </if>
      <if test="record.middleScore3 != null">
        middle_score3 = #{record.middleScore3,jdbcType=INTEGER},
      </if>
      <if test="record.conclusionScore1 != null">
        conclusion_score1 = #{record.conclusionScore1,jdbcType=INTEGER},
      </if>
      <if test="record.conclusionScore2 != null">
        conclusion_score2 = #{record.conclusionScore2,jdbcType=INTEGER},
      </if>
      <if test="record.conclusionScore3 != null">
        conclusion_score3 = #{record.conclusionScore3,jdbcType=INTEGER},
      </if>
      <if test="record.teacherPaperScore != null">
        teacher_paper_score = #{record.teacherPaperScore,jdbcType=INTEGER},
      </if>
      <if test="record.studentPaperScore != null">
        student_paper_score = #{record.studentPaperScore,jdbcType=INTEGER},
      </if>
      <if test="record.finalScore != null">
        final_score = #{record.finalScore,jdbcType=DECIMAL},
      </if>
      <if test="record.openEvaluation1 != null">
        open_evaluation1 = #{record.openEvaluation1,jdbcType=VARCHAR},
      </if>
      <if test="record.openEvaluation2 != null">
        open_evaluation2 = #{record.openEvaluation2,jdbcType=VARCHAR},
      </if>
      <if test="record.openEvaluation3 != null">
        open_evaluation3 = #{record.openEvaluation3,jdbcType=VARCHAR},
      </if>
      <if test="record.middleEvaluation1 != null">
        middle_evaluation1 = #{record.middleEvaluation1,jdbcType=VARCHAR},
      </if>
      <if test="record.middleEvaluation2 != null">
        middle_evaluation2 = #{record.middleEvaluation2,jdbcType=VARCHAR},
      </if>
      <if test="record.middleEvaluation3 != null">
        middle_evaluation3 = #{record.middleEvaluation3,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherPaperEvaluation != null">
        teacher_paper_evaluation = #{record.teacherPaperEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="record.crossPaperEvaluation != null">
        cross_paper_evaluation = #{record.crossPaperEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="record.conclusionEvaluation1 != null">
        conclusion_evaluation1 = #{record.conclusionEvaluation1,jdbcType=VARCHAR},
      </if>
      <if test="record.conclusionEvaluation2 != null">
        conclusion_evaluation2 = #{record.conclusionEvaluation2,jdbcType=VARCHAR},
      </if>
      <if test="record.conclusionEvaluation3 != null">
        conclusion_evaluation3 = #{record.conclusionEvaluation3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update student
    set id = #{record.id,jdbcType=BIGINT},
      student_id = #{record.studentId,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      head_portrait = #{record.headPortrait,jdbcType=VARCHAR},
      major_id = #{record.majorId,jdbcType=BIGINT},
      state = #{record.state,jdbcType=VARCHAR},
      subject_id = #{record.subjectId,jdbcType=BIGINT},
      open_document = #{record.openDocument,jdbcType=VARCHAR},
      middle_document = #{record.middleDocument,jdbcType=VARCHAR},
      conclusion_document = #{record.conclusionDocument,jdbcType=VARCHAR},
      paper_document = #{record.paperDocument,jdbcType=VARCHAR},
      open_score1 = #{record.openScore1,jdbcType=INTEGER},
      open_score2 = #{record.openScore2,jdbcType=INTEGER},
      open_score3 = #{record.openScore3,jdbcType=INTEGER},
      middle_score1 = #{record.middleScore1,jdbcType=INTEGER},
      middle_score2 = #{record.middleScore2,jdbcType=INTEGER},
      middle_score3 = #{record.middleScore3,jdbcType=INTEGER},
      conclusion_score1 = #{record.conclusionScore1,jdbcType=INTEGER},
      conclusion_score2 = #{record.conclusionScore2,jdbcType=INTEGER},
      conclusion_score3 = #{record.conclusionScore3,jdbcType=INTEGER},
      teacher_paper_score = #{record.teacherPaperScore,jdbcType=INTEGER},
      student_paper_score = #{record.studentPaperScore,jdbcType=INTEGER},
      final_score = #{record.finalScore,jdbcType=DECIMAL},
      open_evaluation1 = #{record.openEvaluation1,jdbcType=VARCHAR},
      open_evaluation2 = #{record.openEvaluation2,jdbcType=VARCHAR},
      open_evaluation3 = #{record.openEvaluation3,jdbcType=VARCHAR},
      middle_evaluation1 = #{record.middleEvaluation1,jdbcType=VARCHAR},
      middle_evaluation2 = #{record.middleEvaluation2,jdbcType=VARCHAR},
      middle_evaluation3 = #{record.middleEvaluation3,jdbcType=VARCHAR},
      teacher_paper_evaluation = #{record.teacherPaperEvaluation,jdbcType=VARCHAR},
      cross_paper_evaluation = #{record.crossPaperEvaluation,jdbcType=VARCHAR},
      conclusion_evaluation1 = #{record.conclusionEvaluation1,jdbcType=VARCHAR},
      conclusion_evaluation2 = #{record.conclusionEvaluation2,jdbcType=VARCHAR},
      conclusion_evaluation3 = #{record.conclusionEvaluation3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.t01.gdp.domain.Student">
    update student
    <set>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="headPortrait != null">
        head_portrait = #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null">
        major_id = #{majorId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="openDocument != null">
        open_document = #{openDocument,jdbcType=VARCHAR},
      </if>
      <if test="middleDocument != null">
        middle_document = #{middleDocument,jdbcType=VARCHAR},
      </if>
      <if test="conclusionDocument != null">
        conclusion_document = #{conclusionDocument,jdbcType=VARCHAR},
      </if>
      <if test="paperDocument != null">
        paper_document = #{paperDocument,jdbcType=VARCHAR},
      </if>
      <if test="openScore1 != null">
        open_score1 = #{openScore1,jdbcType=INTEGER},
      </if>
      <if test="openScore2 != null">
        open_score2 = #{openScore2,jdbcType=INTEGER},
      </if>
      <if test="openScore3 != null">
        open_score3 = #{openScore3,jdbcType=INTEGER},
      </if>
      <if test="middleScore1 != null">
        middle_score1 = #{middleScore1,jdbcType=INTEGER},
      </if>
      <if test="middleScore2 != null">
        middle_score2 = #{middleScore2,jdbcType=INTEGER},
      </if>
      <if test="middleScore3 != null">
        middle_score3 = #{middleScore3,jdbcType=INTEGER},
      </if>
      <if test="conclusionScore1 != null">
        conclusion_score1 = #{conclusionScore1,jdbcType=INTEGER},
      </if>
      <if test="conclusionScore2 != null">
        conclusion_score2 = #{conclusionScore2,jdbcType=INTEGER},
      </if>
      <if test="conclusionScore3 != null">
        conclusion_score3 = #{conclusionScore3,jdbcType=INTEGER},
      </if>
      <if test="teacherPaperScore != null">
        teacher_paper_score = #{teacherPaperScore,jdbcType=INTEGER},
      </if>
      <if test="studentPaperScore != null">
        student_paper_score = #{studentPaperScore,jdbcType=INTEGER},
      </if>
      <if test="finalScore != null">
        final_score = #{finalScore,jdbcType=DECIMAL},
      </if>
      <if test="openEvaluation1 != null">
        open_evaluation1 = #{openEvaluation1,jdbcType=VARCHAR},
      </if>
      <if test="openEvaluation2 != null">
        open_evaluation2 = #{openEvaluation2,jdbcType=VARCHAR},
      </if>
      <if test="openEvaluation3 != null">
        open_evaluation3 = #{openEvaluation3,jdbcType=VARCHAR},
      </if>
      <if test="middleEvaluation1 != null">
        middle_evaluation1 = #{middleEvaluation1,jdbcType=VARCHAR},
      </if>
      <if test="middleEvaluation2 != null">
        middle_evaluation2 = #{middleEvaluation2,jdbcType=VARCHAR},
      </if>
      <if test="middleEvaluation3 != null">
        middle_evaluation3 = #{middleEvaluation3,jdbcType=VARCHAR},
      </if>
      <if test="teacherPaperEvaluation != null">
        teacher_paper_evaluation = #{teacherPaperEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="crossPaperEvaluation != null">
        cross_paper_evaluation = #{crossPaperEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="conclusionEvaluation1 != null">
        conclusion_evaluation1 = #{conclusionEvaluation1,jdbcType=VARCHAR},
      </if>
      <if test="conclusionEvaluation2 != null">
        conclusion_evaluation2 = #{conclusionEvaluation2,jdbcType=VARCHAR},
      </if>
      <if test="conclusionEvaluation3 != null">
        conclusion_evaluation3 = #{conclusionEvaluation3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.t01.gdp.domain.Student">
    update student
    set student_id = #{studentId,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      head_portrait = #{headPortrait,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=BIGINT},
      state = #{state,jdbcType=VARCHAR},
      subject_id = #{subjectId,jdbcType=BIGINT},
      open_document = #{openDocument,jdbcType=VARCHAR},
      middle_document = #{middleDocument,jdbcType=VARCHAR},
      conclusion_document = #{conclusionDocument,jdbcType=VARCHAR},
      paper_document = #{paperDocument,jdbcType=VARCHAR},
      open_score1 = #{openScore1,jdbcType=INTEGER},
      open_score2 = #{openScore2,jdbcType=INTEGER},
      open_score3 = #{openScore3,jdbcType=INTEGER},
      middle_score1 = #{middleScore1,jdbcType=INTEGER},
      middle_score2 = #{middleScore2,jdbcType=INTEGER},
      middle_score3 = #{middleScore3,jdbcType=INTEGER},
      conclusion_score1 = #{conclusionScore1,jdbcType=INTEGER},
      conclusion_score2 = #{conclusionScore2,jdbcType=INTEGER},
      conclusion_score3 = #{conclusionScore3,jdbcType=INTEGER},
      teacher_paper_score = #{teacherPaperScore,jdbcType=INTEGER},
      student_paper_score = #{studentPaperScore,jdbcType=INTEGER},
      final_score = #{finalScore,jdbcType=DECIMAL},
      open_evaluation1 = #{openEvaluation1,jdbcType=VARCHAR},
      open_evaluation2 = #{openEvaluation2,jdbcType=VARCHAR},
      open_evaluation3 = #{openEvaluation3,jdbcType=VARCHAR},
      middle_evaluation1 = #{middleEvaluation1,jdbcType=VARCHAR},
      middle_evaluation2 = #{middleEvaluation2,jdbcType=VARCHAR},
      middle_evaluation3 = #{middleEvaluation3,jdbcType=VARCHAR},
      teacher_paper_evaluation = #{teacherPaperEvaluation,jdbcType=VARCHAR},
      cross_paper_evaluation = #{crossPaperEvaluation,jdbcType=VARCHAR},
      conclusion_evaluation1 = #{conclusionEvaluation1,jdbcType=VARCHAR},
      conclusion_evaluation2 = #{conclusionEvaluation2,jdbcType=VARCHAR},
      conclusion_evaluation3 = #{conclusionEvaluation3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>