<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.t01.gdp.mapper.UserMapper">
    <select id="getAllStudentId" resultType="java.lang.String">
        select student_id
        from student s
    </select>
    <select id="getAllTeacherId" resultType="java.lang.String">
        select teacher_id
        from teacher t
    </select>

    <select id="getAllStudents" resultType="java.util.Map">
        select student_id, name, phone_number as phoneNumbser, email, major_id as majorId
        from student s
    </select>
    <select id="getAllTeachers" resultType="java.util.Map">
        select teacher_id, name, phone_number as phoneNumbser, email, college_id as collegeId
        from teacher t
    </select>
</mapper>