
<div class="card">
    <div class="card-header">
        <h3 class="card-title">课题列表</h3>
    </div>
    <!-- /.box-header -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <section class="col-md-3">
                    <b>课题名称：</b><input type="text" id="subject_name" class="abc input-default">
                </section>
                <section class="col-md-3">
                    <b>开题老师：</b><input type="text" id="subject_teacher" class="abc input-default">
                </section>
                <section class="col-md-3">
                    <b>所属专业: </b><input type="text" id="subject_major" class="abc input-default">
                </section>
                <section class="col-md-3">
                    <b>所属方向：</b><input type="text" id="subject_direction" class="abc input-default">
                </section>
            </div>
            <br>
            <div class="row">
                <section class="col-md-3">
                    <b>课题编号：</b><input type="text" id="subject_id" class="abc input-default ">
                </section>
                <section class="col-md-8">
                    <b>难度系数：</b><input type="text" id="difficult_min" class="abc input-default">
                    <b>-</b>
                    <b><input type="text" id="difficult_max" class="abc input-default"></b>
                </section>
                <section class="col-md-1">
                    <button type="button" onclick="reloadTable()" class="btn btn-outline-success">搜索</button>
                </section>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="Subject_table" class="table table-bordered table-hover">
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.card -->
<div class="modal fade" id="modal-choose">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">选择选题</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><span>确认选择该选题吗？</span></p>
                <p><span>选题编号：</span><span id="subject_id2"></span></p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-primary" id="submit" onclick="onSubmit()">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">详细信息</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <span>开题老师：</span>
                    <span id="create_teacher_id"></span>
                </p>
                <p>
                    <span>课题名称：</span>
                    <span id="name"></span>
                </p>
                <p>
                    <span>课题专业：</span>
                    <span id="major_id"></span>
                </p>

                <p>
                    <span>所属方向：</span>
                    <span id="direction"></span>
                </p>
                <p>
                    <span>难度系数：</span>
                    <span id="difficulty"></span>
                </p>
                <p>
                    <span>所需技术：</span>
                    <span id="technology"></span>
                </p>
                <p>
                    <span>具体描述：</span>
                    <textarea rows="10" style="width: 100%" maxlength="1023" id="describe" readonly="readonly"></textarea>
                </p>
                <p>
                    <span>相关资料</span>：
                    <a type="button" class="btn btn-danger" id="download">下载</a>
                </p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $(function () {
        $("#subject_id").val(getsubjectId());
        $('#Subject_table').bootstrapTable('destroy').bootstrapTable({
            method: 'get',
            url: "/subject/list",
            striped: true,
            dataField: "list",
            totalField: "total",
            pageNumber: 1,
            pageSize: 10,
            pagination: true,
            queryParamsType: 'limit',
            // search: true,
            queryParams: function (params) {
                return {
                    subject_name:$('#subject_name').val(),
                    subject_teacher:$('#subject_teacher').val(),
                    subject_major:$('#subject_major').val(),
                    subject_id:$('#subject_id').val(),
                    subject_direction:$('#subject_direction').val(),
                    difficult_min:$('#difficult_min').val(),
                    difficult_max:$('#difficult_max').val(),
                    pageSize: params.limit,
                    pageNo: params.offset / params.limit + 1
                }
            },
            sidePagination: 'server',
            pageList: "[10, 25, 50, 100, all]",
            showRefresh: false,
            clickToSelect: true,
            toolbarAlign: 'left',
            buttonsAlign: 'right',
            toolbar: '#toolbar',
            showColumns: false,
            paginationLoop: false,
            columns: [
                {
                    title: 'ID',
                    field: 'id',
                    visible: false,
                    width: 50
                },
                {
                    title: '课题名称',
                    field: 'name',
                    visible: true,
                    width: 120
                },
                {
                    title: '专业',
                    field: 'major',
                    width: 40,
                    align: 'left'
                },
                {
                    title: '方向',
                    field: 'direction',
                    width: 40,
                    align: 'left'
                },
                {
                    title: '技术',
                    field: 'technology',
                    width: 40,
                    align: 'left'
                },
                {
                    title: '难度',
                    field: 'difficulty',
                    width: 40,
                    align: 'left'
                },
                {
                    title: '操作',
                    width: 80,
                    align: 'center',
                    formatter: actionFormatter,
                }

            ],
            locale: 'zh-CN',
            responseHandler: function (data) {
                return data['data'];
            }
        });
    })
    function reloadTable() {
        $('#Subject_table').bootstrapTable('refresh');
    }
    function actionFormatter(value, row, index) {
        var subject_id=row.id;
        var subject_id2=row.id;
        var result="";
        result+="<button type='button' class='btn btn-primary' data-toggle=\"modal\" data-target=\"#modal-default\" onclick='onSubject(" + subject_id + ")' >查看</button>";
        result+="<b>&emsp;</b>"
        result+="<button type='button' class='btn btn-secondary' data-toggle=\"modal\" data-target=\"#modal-choose\" onclick='onShow(" + subject_id2 + ")' >选择</button>";
        return result;
    }
    function onSubject (subject_id) {
        $.ajax({
            type:'get',
            url:'/subject/select',
            contentType:"application/json",
            data:{"subject_id":subject_id},
            success:function (msg) {
                $("#create_teacher_id").text(msg['data']['createTeacher']);
                $("#major_id").text(msg['data']['major']);
                $("#name").text(msg['data']['name']);
                $("#direction").text(msg['data']['direction']);
                $("#difficulty").text(msg['data']['difficulty']);
                $("#technology").text(msg['data']['technology']);
                $("#describe").text(msg['data']['describe']);
                $("#download").attr("href","/download/"+msg['data']['document']);
            },
            error:function () {
                alert("失败")
            }
        });
    }
    function onShow(subject_id2) {
        $("#subject_id2").text(subject_id2);
    }
    function onSubmit() {
        var subject_id2=$("#subject_id2").text();
        var option = {
            url: "/subject/choose",
            method: "post",
            timeout: 6000,
            async: false,
            data: {
                "subject_id2": subject_id2
            },
            success: function (msg) {
                if(msg['data']=="true")alert("选择成功")
                else alert("选择失败，你已有选题");
            },
            error:function () {
                alert("失败")
            }
        };
        $.ajax(option);
    }
    function getsubjectId(){
        return sessionStorage['subjectId'];
    }
</script>