<link rel="stylesheet" href="../../static/Rendering/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../../static/Rendering/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet"
      href="../../static/Rendering/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="../../static/Rendering/dist/css/adminlte.min.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


<div class="card">
    <div class="card-header">
        <h3 class="card-title">项目列表</h3>
    </div>
    <div class="card-body">
        <table id="table-main" class="table table-bordered table-hover"></table>
    </div>
</div>

<script src="../../static/Rendering/plugins/jquery/jquery.min.js"></script>
<script src="../../static/Rendering/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../static/Rendering/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../static/Rendering/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../static/Rendering/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../static/Rendering/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../static/Rendering/dist/js/adminlte.min.js"></script>
<script src="../../static/Rendering/dist/js/demo.js"></script>
<script>
    $(function () {
        $('#table-main').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>


<script>
    $(function () {
        $('#table-main').bootstrapTable('destroy').bootstrapTable({
            method: 'get',
            url: "/teacher/subjectFragment/getList",
            striped: true,
            dataField: "list",
            totalField: "total",
            pageNumber: 1,
            pageSize: 10,
            pagination: true,
            queryParamsType: 'limit',
            // search: true,
            queryParams: function (params) {
                return {
                    pageSize: params.limit,
                    pageNo: params.offset / params.limit + 1
                }
            },
            sidePagination: 'server',
            pageList: "[10, 25, 50, 100, all]",
            showRefresh: true,
            clickToSelect: true,
            toolbarAlign: 'left',
            buttonsAlign: 'right',
            toolbar: '#toolbar',
            showColumns: false,
            paginationLoop: false,
            columns: [
                {
                    title: '项目编号',
                    field: 'id',
                    visible: true,
                    width: 160
                },
                /*{
                    //  title: '全选/反选',
                    checkbox: true
                }
                ,*/
                {
                    title: '项目名称',
                    field: 'name',
                    visible: true,
                    width: 160
                },
                {
                    title: '指导教师',
                    field: 'teacher',
                    width: 160,
                    align: 'left'
                },
                {
                    title: '专业',
                    field: 'major',
                    width: 160,
                    align: 'left'
                },
                {
                    title: '方向',
                    field: 'direction',
                    width: 160,
                    align: 'left'
                },
                {
                    title: '状态',
                    field: 'state',
                    width: 160,
                    align: 'left'
                }
            ],
            locale: 'zh-CN',
            responseHandler: function (data) {
                return data['data'];
            },

            onClickRow: function (row, $element) {
                console.log('__onClickRow')
                console.log(row)
                loadFragment2('subjectDetail', this, row.id)
            }

        });
    })
</script>


