<div class="card">
    <div class="card-header">
        <h3 class="card-title">与我相关的题目列表</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="table" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>题目编号</th>
                <th>题目名称</th>
                <th>难度</th>
                <th>专业</th>
                <th>方向</th>
                <th>状态</th>
                <th>详情</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>题目编号</th>
                <th>题目名称</th>
                <th>难度</th>
                <th>专业</th>
                <th>方向</th>
                <th>状态</th>
                <th>详情</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">开题评审评分</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>题目编号：<span id = "subjectId"></span></p>
                <p>题目名称：</p>
                <p><input type="text" style="width: 100%" maxlength="50" id="subjectName"></p>
                <p>
                    专业编号：
<!--                    <select id="majorId">-->
<!--                    </select>-->
                </p>
                <p><input type="number" id="majorId"></p>
                <p>方向：</p>
                <p><input type="text" style="width: 100%" maxlength="50" id="direction"></p>
                <p>难度：</p>
                <p>
                    <input type="number" max="99" min="0" id="difficulty">%
                </p>
                <p>相关技术：</p>
                <p><input type="text" maxlength="255" style="width: 100%" id="technology"></p>
                <p>题目描述：</p>
                <p><textarea rows="10" style="width: 100%" maxlength="1023" id="describe"></textarea></p>
                <p id="file">相关资料：<input type="file" id="document"><span id = "downloadFile"></span></p>
                <p>当前状态：<span id = "state"></span></p>
                <p>创建时间：<span id = "createTime"></span></p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" id="cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="delete" onclick="onDelete()">删除</button>
                <button type="button" class="btn btn-primary" id="submit" onclick="onSubmit()">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $(function () {
        $("#table").DataTable({
            "retrieve": true,
            "responsive": true,
            "autoWidth": false,
            "processing": true,
            "serverSide": true,
            "ajax": "/teacher/searchSubject/getList",
            "columns":[
                {"data":"id"},
                {"data":"name"},
                {"data":"difficulty"},
                {"data":"majorId"},
                {"data":"direction"},
                {"data":"state"}
            ],
            "columnDefs":[
                {
                    "targets": [6],
                    "data": "id",
                    "render": function(data, type, full) {
                        return "<button type='button' class='btn btn-primary' data-toggle=\"modal\" data-target=\"#modal-default\" onclick='onDetail(" + data + ")' >查看</button>";
                    }
                }
            ]
        });
    });
</script>

<script>
    function onDetail(subjectId) {
        var option = {
            url: "/teacher/getTimeState",
            method: "get",
            async: false,
            success: function(data){
                if(data != 0){
                    $("#delete").text("当前阶段无法删除题目");
                    $("#delete").attr("disabled",true);
                    $("#submit").text("当前阶段无法修改题目");
                    $("#submit").attr("disabled",true);
                }else{
                    $("#delete").text("删除");
                    $("#delete").attr("disabled",false);
                    $("#submit").text("保存");
                    $("#submit").attr("disabled",false);
                }
            },
            error: function () {
                $("#delete").text("当前无法删除题目");
                $("#delete").attr("disabled",true);
                $("#submit").text("当前无法修改题目");
                $("#submit").attr("disabled",true);
            }
        }

        $.ajax(option);

        var setting = {
            url: "/teacher/searchSubject/detail",
            method: "get",
            timeout: 6000,
            async: false,
            data:{
              "subjectId": subjectId
            },
            success: function (data) {
                $("#subjectId").text(data.id);
                $("#subjectName").val(data.name);
                $("#majorId").val(data.majorId);
                $("#direction").val(data.direction);
                $("#difficulty").val(data.difficulty);
                $("#technology").val(data.technology);
                $("#describe").val(data.describe);

                if(data.document!=null && data.document!=""){
                    $("#downloadFile").html("<br>" + data.document + "<a type='button' class='btn btn-primary' href='/download/" + data.document + "' >下载</a>\n<button type='button' class='btn btn-danger' onclick='onDeleteFile(" +  data.id + ")' >删除</button>")
                }else{
                    $("#downloadFile").html("")
                }

                $("#state").text(data.state);
                $("#createTime").text(data.createTime);
            },
            error: function () {
                alert("请求页面失败");
                $("#cancel").click();
            }
        }

        $.ajax(setting);
    }
</script>

<script>
    function onSubmit() {
        var difficulty = $("#difficulty").val();

        if(difficulty > 100 || difficulty < 0 || difficulty == ""){
            alert("请输入0.01~0.99之间的数");
            return;
        }

        var formData = new FormData();
        formData.append("id", $("#subjectId").text());
        formData.append("name", $("#subjectName").val());
        formData.append("majorId", $("#majorId").val());
        formData.append("direction", $("#direction").val());
        formData.append("difficulty", $("#difficulty").val());
        formData.append("technology", $("#technology").val());
        formData.append("describe",$("#describe").val());
        formData.append("file", $("#document")[0].files[0]);

        var option = {
            url: "/teacher/searchSubject/modify",
            contentType: false,
            processData : false,
            method: "post",
            timeout: 6000,
            async: false,
            data: formData,
            success: function () {
                alert("保存成功");

                $("#submit").attr("data-dismiss","modal");
                $("#submit").attr("onclick","");
                $("#submit").click();
                $("#submit").attr("data-dismiss","");
                $("#submit").attr("onclick","onSubmit()");

                $("#table").dataTable().fnDraw(false);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        };

        $.ajax(option);
    }
</script>

<script>
    function onDelete() {
        var setting = {
            url: "/teacher/deleteSubject",
            method: "post",
            timeout: 6000,
            async: false,
            data: {
                "subjectId": $("#subjectId").text()
            },
            success: function (data) {
                if(data){
                    alert("删除成功");

                    $("#submit").attr("data-dismiss","modal");
                    $("#submit").attr("onclick","");
                    $("#submit").click();
                    $("#submit").attr("data-dismiss","");
                    $("#submit").attr("onclick","onSubmit()");

                    $("#table").dataTable().fnDraw(false);
                }else{
                    alert("删除失败");
                }
            },
            error: function () {
                alert("删除失败");
            }
        }

        if(confirm("确定要删除该选题？")){
            $.ajax(setting);
        }
    }
</script>

<script>
    function onDeleteFile(subjectId) {
        if(!confirm("确定删除该文件？")){
            return;
        }
        var setting = {
            url: "/teacher/deleteFile",
            method: "post",
            timeout: 6000,
            async: false,
            data: {
                "subjectId": subjectId
            },
            success: function (data) {
                alert("删除成功");
            },
            error: function () {
                alert("删除失败");
            }
        }

        $.ajax(setting);
    }
</script>