<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
<div th:fragment="head">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</div>
<div th:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card border-dark" style="width: 100%;">
                <div class="card-header bg-transparent border-dark">账号信息</div>
                <div class="card-body">
                    <form id="infoForm" role="form" action="#" method="post">
                        <div class="form-group row">
                            <label class="col-form-label col-1">姓名:</label>
                            <label id="name" class="col-form-label col"></label>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-1">用户类型:</label>
                            <label id="role" class="col-form-label col"></label>
                        </div>
                        <div class="form-group row">
                            <label for="phoneNumber" class="col-form-label col-1">电话:</label>
                            <input type="text" class="form-control col-3" id="phoneNumber" name="phoneNumber">
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-form-label  col-1">Email:</label>
                            <input type="text" class="form-control col-3" id="email" name="email">
                        </div>
                    </form>
                </div>
                <div class="card-footer bg-transparent border-dark row justify-content-center">
                    <button id="btn_save" class="btn btn-primary ml-2">保存</button>
                    <button id="btn_reset" class="btn btn-secondary ml-2">重置</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="script">
    <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.16.0/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>

    <script th:src="@{/static/Rendering/plugins/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/static/Rendering/plugins/jquery-validation/additional-methods.min.js}"></script>
    <script th:src="@{/static/Rendering/plugins/jquery-validation/localization/messages_zh.min.js}"></script>

    <script th:inline="javascript">
        Infos = {
            id: [[${session.USER_INFO.getId()}]],
            name: [[${session.USER_INFO.getName()}]],
            role: [[${session.USER_INFO.getRole()}]]
        };
        $(function () {
            let id = Infos['id'];
            $.ajax({
                url: '/getAccountInfo',
                type: 'get',
                async: "false",
                data: {id: id},
                dataType: "json",
                success: function (result) {
                    //console.log(result);
                    if (result['length'] === '2') {
                        /*bootbox.alert({
                            title: "成功",
                            message: '读取账户信息成功',
                            size: 'small'
                        });*/
                        Infos['phoneNumber'] = result['phoneNumber'];
                        Infos['email'] = result['email'];
                        $('#name').html(Infos['name']);
                        if (Infos['role'] === 'ADM') {
                            $('#role').html('管理员');
                        } else if (Infos['role'] === 'TEA') {
                            $('#role').html('教师');
                        } else if (Infos['role'] === 'STU') {
                            $('#role').html('学生');
                        }
                        $('#phoneNumber').val(Infos['phoneNumber']);
                        $('#email').val(Infos['email']);
                    } else {
                        bootbox.alert({
                            title: "失败",
                            message: '读取账户信息失败，后台未返回数据',
                            size: 'small'
                        });
                    }
                },
                error: function (e) {
                    bootbox.alert({
                        title: "错误",
                        message: '读取账户信息出错',
                        size: 'small'
                    });
                    console.log(e.status);
                    console.log(e.responseText);
                }
            })
        })
        $('#btn_save').on('click', function () {
            $.ajax({
                url: '/updateAccountInfo',
                type: 'post',
                data: JSON.stringify({
                    id: Infos['id'],
                    role: Infos['role'],
                    phoneNumber: $('#phoneNumber').val(),
                    email: $('#email').val()
                }),
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    if (result['length'] === '1') {
                        bootbox.alert({
                            title: "成功",
                            message: '保存账户信息成功',
                            size: 'small'
                        });
                    } else {
                        bootbox.alert({
                            title: "失败",
                            message: '保存账户信息失败，后台未返回数据',
                            size: 'small'
                        });
                    }
                },
                error: function (e) {
                    bootbox.alert({
                        title: "错误",
                        message: '保存账户信息出错',
                        size: 'small'
                    });
                    console.log(e.status);
                    console.log(e.responseText);
                }
            })
        })


        $('#btn_reset').on('click', function () {
            $('#phoneNumber').val(Infos['phoneNumber']);
            $('#email').val(Infos['email']);
        })
    </script>
</div>

</body>
</html>