<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
        xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/c"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean id="multipleAuthenticationLoginEntry"
                class="org.t01.gdp.security.MultipleAuthenticationLoginEntry">
        <beans:property name="defaultLoginUrl" value="/backend/login"/>
        <beans:property name="directUrlResolvers">
            <beans:list>
                <beans:ref bean="studentLoginEntry"/>
                <beans:ref bean="teacherLoginEntry"/>
                <beans:ref bean="administratorLoginEntry"/>
            </beans:list>
        </beans:property>
    </beans:bean>

    <beans:bean id="studentLoginEntry" class="org.t01.gdp.security.RequestUriDirectUrlResolver">
        <beans:property name="pattern" value="/student"/>
        <beans:property name="directUrl" value="/student/login"/>
    </beans:bean>

    <beans:bean id="teacherLoginEntry" class="org.t01.gdp.security.RequestUriDirectUrlResolver">
        <beans:property name="pattern" value="/teacher"/>
        <beans:property name="directUrl" value="/teacher/login"/>
    </beans:bean>

    <beans:bean id="administratorLoginEntry" class="org.t01.gdp.security.RequestUriDirectUrlResolver">
        <beans:property name="pattern" value="/administrator"/>
        <beans:property name="directUrl" value="/administrator/login"/>
    </beans:bean>

    <beans:bean id="multipleAuthenticationProcessingFilter"
                class="org.t01.gdp.security.MultipleAuthenticationProcessingFilter">
        <beans:constructor-arg value="/login/check"/>
        <beans:property name="tokenResolvers">
            <beans:list>
                <beans:ref bean="studentAuthenticationTokenResolver"/>
                <beans:ref bean="teacherAuthenticationTokenResolver"/>
                <beans:ref bean="administratorAuthenticationTokenResolver"/>
            </beans:list>
        </beans:property>
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="authenticationSuccessHandler" ref="multipleAuthenticationSuccessHandler"/>
        <beans:property name="authenticationFailureHandler" ref="multipleAuthenticationFailureHandler"/>
    </beans:bean>

    <beans:bean id="studentAuthenticationTokenResolver"
                class="org.t01.gdp.security.StudentAuthenticationTokenResolver">
        <beans:property name="parameterName" value="token"/>
        <beans:property name="parameterValue" value="backend"/>
    </beans:bean>

    <beans:bean id="teacherAuthenticationTokenResolver"
                class="org.t01.gdp.security.TeacherAuthenticationTokenResolver">
        <beans:property name="parameterName" value="token"/>
        <beans:property name="parameterValue" value="backend"/>
    </beans:bean>

    <beans:bean id="administratorAuthenticationTokenResolver"
                class="org.t01.gdp.security.AdministratorAuthenticationTokenResolver">
        <beans:property name="parameterName" value="token"/>
        <beans:property name="parameterValue" value="backend"/>
    </beans:bean>

    <security:http auto-config="true">
        <security:custom-filter ref="multipleAuthenticationProcessingFilter" position="FORM_LOGIN_FILTER"/>
    </security:http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="myAuthenticationProvider"/>
    </authentication-manager>

    <beans:bean id="myAuthenticationProvider"
                class="org.t01.gdp.security.MyAuthenticationProvider"/>

    <beans:bean id="multipleAuthenticationSuccessHandler"
                class="org.t01.gdp.security.MultipleAuthenticationSuccessHandler">
        <beans:property name="alwaysUseDefaultTargetUrl" value="true"/>
        <beans:property name="resolvers">
            <beans:list>
                <beans:ref bean="studentAuthenticationSuccessUrlResolver"/>
            </beans:list>
        </beans:property>
    </beans:bean>

    <beans:bean id="studentAuthenticationSuccessUrlResolver"
                class="org.t01.gdp.security.RequestParameterDirectUrlResolver">
        <beans:property name="parameterName" value="token"/>
        <beans:property name="pattern" value="student"/>
        <beans:property name="directUrl" value="/student/mainPage"/>
    </beans:bean>

    <beans:bean id="teacherAuthenticationSuccessUrlResolver"
                class="org.t01.gdp.security.RequestParameterDirectUrlResolver">
        <beans:property name="parameterName" value="token"/>
        <beans:property name="pattern" value="teacher"/>
        <beans:property name="directUrl" value="/teacher/mainPage"/>
    </beans:bean>

    <beans:bean id="administratorAuthenticationSuccessUrlResolver"
                class="org.t01.gdp.security.RequestParameterDirectUrlResolver">
        <beans:property name="parameterName" value="token"/>
        <beans:property name="pattern" value="administrator"/>
        <beans:property name="directUrl" value="/administrator/mainPage"/>
    </beans:bean>

    <beans:bean id="multipleAuthenticationFailureHandler"
                class="org.t01.gdp.security.MultipleAuthenticationFailureHandler">
        <beans:property name="resolvers">
            <beans:list>
                <beans:ref bean="studentAuthenticationFailureUrlResolver"/>
                <beans:ref bean="teacherAuthenticationFailureUrlResolver"/>
                <beans:ref bean="administratorAuthenticationFailureUrlResolver"/>
            </beans:list>
        </beans:property>
    </beans:bean>

    <beans:bean id="studentAuthenticationFailureUrlResolver"
                class="org.t01.gdp.security.RequestParameterDirectUrlResolver">
        <beans:property name="parameterName" value="token"/>
        <beans:property name="pattern" value="student"/>
        <beans:property name="directUrl" value="/student/login?failure=true"/>
    </beans:bean>

    <beans:bean id="teacherAuthenticationFailureUrlResolver"
                class="org.t01.gdp.security.RequestParameterDirectUrlResolver">
        <beans:property name="parameterName" value="token"/>
        <beans:property name="pattern" value="teacher"/>
        <beans:property name="directUrl" value="/teacher/login?failure=true"/>
    </beans:bean>

    <beans:bean id="administratorAuthenticationFailureUrlResolver"
                class="org.t01.gdp.security.RequestParameterDirectUrlResolver">
        <beans:property name="parameterName" value="token"/>
        <beans:property name="pattern" value="administrator"/>
        <beans:property name="directUrl" value="/administrator/login?failure=true"/>
    </beans:bean>
    
</beans:beans>